<footer class="footer">
  <a class="footer--arrow" href="./index.html#link-header">
    <img src="./assets/images/ico-arrow.svg" alt="Click to go up" title="Click to go up" />
  </a>
  <div class="footer--items">
    <div class="footer--links">
      <ul class="footer--links__list">
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Articles</a>
        </li>
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Books</a>
        </li>
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Events</a>
        </li>
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Reasons</a>
        </li>
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Tips</a>
        </li>
      </ul>

      <ul class="footer--links__list">
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Twitter</a>
        </li>
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Instagram</a>
        </li>
        <li>
          <a class="footer--links__item" href="https://adalab.es/">Mastodon.social</a>
        </li>
      </ul>
    </div>

    <small class="footer--small">
      <span class="footer--small__copy">©2017</span><span class="footer--small__copy"> we <span class="footer--small__copy-heart">❤︎</span> components</span></small
    >
  </div>
</footer>
