<section class="main-secondary" id="link-3reasons">
  <h2 class="main-secondary--title">3 Reasons To Purchase</h2>
  <partial src="_articles.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></partial>
  <partial src="_articles.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie."></partial>
  <partial src="_articles.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></partial>
  <div class="main-secondary--containerbutton">
    <button class="main-secondary--button" name="More reasons" type="button">More reasons</button>
  </div>
</section>
