<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anonymous proxy</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <!-- HEADER -->
    <partial src="_header.html"></partial>

    <main>
      <!-- LOOKING THROUGH A WINDOW -->
      <partial src="_main-principal.html"></partial>
      <!-- 3 REASONS TO PURCHASE -->
      <section class="main-secondary" id="link-3reasons">
        <h2 class="title">3 Reasons To Purchase</h2>
        <partial src="_articles.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></partial>
        <partial src="_articles.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie."></partial>
        <partial src="_articles.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></partial>
        <div class="main-secondary-containerbutton">
          <button class="main-secondary-button" name="More reasons" type="button">More reasons</button>
        </div>
      </section>
    </main>
    <!-- FOOTER -->
    <partial src="_footer.html"></partial>
  </body>
</html>
