<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header>
      <h1>
        Anonymous proxy
      </h1>
      <h3>
        In hac habitasse platea dictumst.
      </h3>
      <img src="./assets/images/ico-scroll-down.svg" alt="Click to main" />
    </header>
    <main>
      <article>
        <h6>
          Insomnia Tips
        </h6>
        <h2>Looking trough a window</h2>
        <p>
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <button>Go</button>
      </article>
      <article>
        <h2>3 Reasons To Purchase</h2>
        <h3>Ut sed metus</h3>
        <p>
          Lorem ipsum dolor sit amet, consecteur.
        </p>
        <h3>
          Curabitur ac erat
        </h3>
        <p>
          Mauris mattis urna quis lorem molestie.
        </p>
        <h3>Morbi dictum</h3>
        <p>
          Aliquam in dolor et dolor tincidunt.
        </p>
        <button>More reasons</button>
      </article>
    </main>
    <footer>
      <img src="./assets/images/ico-arrow.svg" alt="Click to go up" />

      <ul>
        <li>
          <a href="#">Articles</a>
        </li>
        <li>
          <a href="">Books</a>
        </li>
        <li>
          a
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">Reasons</a>
        </li>
        <li>
          <a href="#">Tips</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
        <li>
          <a href="">Mastodon.social</a>
        </li>
      </ul>
      <small> ©2017 we ❤︎ components </small>
    </footer>
  </body>
</html>
