.footer {
  background-color: $color-secondary-dark;
  color: white;
  padding-bottom: 45px;
  &--arrow {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: 45px;
    padding-top: 10px;
    padding-right: 12.5px;
    padding-bottom: 7px;
    padding-left: 12.5px;
    border-radius: 50%;
  }
  &--links {
    font-family: "Roboto";
    line-height: 30px;
    text-transform: uppercase;
    &__list {
      list-style: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 30px;
    }
    &__item {
      color: white;
      text-decoration: none;
    }
  }
  &--small__copy {
    font-family: "Roboto";
    font-size: $font-size-small;
    font-weight: normal;
    line-height: 30px;
    &-heart {
      color: $color-primary;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    &--links {
      padding-top: 45px;
      &__list {
        margin-bottom: 0;
        margin-left: 180px;
      }
    }
    &--small {
      margin-top: 45px;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    &--links {
      padding-top: 45px;
      &__list {
        margin-bottom: 0;
        margin-left: 180px;
      }
    }
    &--small {
      margin-top: 45px;
    }
  }
}
