.header {
  background-image: url(../images/cover.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 53px;
  &--burger {
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    &__item {
      padding: 15px;
      padding-left: 14px;
    }
  }
  &--text {
    color: white;
    &__title {
      font-family: "Roboto Slab";
      font-weight: bold;
      font-size: 42px;
      text-transform: uppercase;
      line-height: 55px;
    }
    &__subtitle {
      font-family: "Roboto";
      font-size: 16px;
      font-weight: normal;
      line-height: normal;
      margin-top: 10px;
      margin-bottom: 45px;
    }
  }
  &--arrow {
    width: 45px;
    background-color: white;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 15.5px;
    padding-bottom: 11.5px;
    border-radius: 50%;
  }
}
.span {
  display: block;
}

@media all and (min-width: 768px) {
  .header {
    padding-bottom: 45px;
    &--text {
      &__title {
        font-size: 80px;
        line-height: 106px;
        margin: 0;
      }
      &__subtitle {
        font-size: $font-size-title;
        margin-top: 20px;
        margin-bottom: 35px;
      }
    }
  }
}
@media all and (min-width: 1200px) {
  .header {
    padding-bottom: 13px;
    &--text {
      &--title {
        font-size: 100px;
        line-height: 132px;
      }
      &__subtitle {
        font-size: $font-size-title;
        margin-top: 0;
        margin-bottom: 88px;
      }
    }
  }
}
