.main-principal {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 45px;
  padding-left: 15px;
  &--pretitle {
    color: #8ccbea;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    margin: 0;
  }
  &--title {
    font-size: $font-size-title;
    font-family: "Roboto Slab";
    line-height: 30px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
  }
  &--text {
    color: #4a4a4a;
    font-size: $font-size-paragraph;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  &--button {
    color: $color-primary;
    background-color: white;
    font-size: $font-size-button;
    border-color: $color-primary;
    border-width: 2px;
    border-radius: 22.5px;
    outline: none;
    padding-right: 26px;
    padding-left: 26px;
    width: 76px;
    height: 45px;
  }
}

@media all and (min-width: 768px) {
  .main-principal {
    padding-bottom: 60px;
    padding-left: 39px;
    &--title {
      font-size: 26px;
      line-height: 45px;
    }
    &--text {
      font-size: $font-size-button;
      line-height: 30px;
      margin-top: 30px;
    }
    &--button {
      background-color: white;
      color: $color-primary;
      font-size: $font-size-button;
      border-color: $color-primary;
      border-radius: 22.5px;
      padding-right: 33.5px;
      padding-left: 33.5px;
      width: 91px;
      height: 45px;
    }
  }
}
@media all and (min-width: 1200px) {
  .main-principal {
    padding-top: 60px;
    padding-right: 275px;
    padding-bottom: 60px;
    padding-left: 275px;
    &--pretitle {
      font-size: 16px;
    }
    &--title {
      font-size: 32px;
      line-height: 45px;
    }
    &--text {
      font-size: $font-size-button;
      line-height: 30px;
      margin-top: 30px;
    }
    &--button {
      width: 160px;
    }
  }
}
