.main-secondary {
  background-color: #eff9ff;
  padding-top: 30px;
  padding-bottom: 60px;
  &--title {
    font-family: "Roboto Slab";
    font-size: $font-size-title;
    font-weight: bold;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 45px;
  }
  &--article__item {
    padding-right: 70px;
    padding-bottom: 45px;
    padding-left: 70px;
  }
  &--article__title {
    font-family: "Roboto Slab";
    font-size: $font-size-paragraph;
    font-weight: bold;
    line-height: 30px;
    margin-top: 0px;
  }
  &--article__text {
    font-family: "Roboto";
    font-size: $font-size-paragraph;
    line-height: 30px;
  }
  &--button {
    color: white;
    background-color: $color-primary;
    font-family: "Roboto";
    font-size: $font-size-button;
    line-height: 45px;
    outline: none;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
  }
}
@media all and (min-width: 768px) {
  .main-secondary {
    &--title {
      font-size: 26px;
      line-height: 45px;
    }
    &--article__item {
      padding-right: 7px;
      padding-bottom: 60px;
      padding-left: 7px;
    }
    &--article__title {
      font-size: $font-size-title;
      margin-bottom: 14px;
    }
    &--article__text {
      font-size: $font-size-button;
    }
    &--button {
      width: 210px;
    }
  }
}
@media all and (min-width: 768px) {
  .main-secondary {
    padding-top: 60px;
    padding-right: 90px;
    padding-left: 90px;
    &--title {
      font-size: 32px;
    }
    &--button {
      width: 255px;
    }
  }
}
