.header {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  &-burger {
    position: fixed;
    top: 0;
    left: 0;
    &-item {
      position: absolute;
    }
  }
  &-text {
    text-align: center;
  }
  // &-arrow {
  //   text-align: center;
  // }
}
.main-secondary {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .title {
    grid-column: span 3;
  }
  .article-item {
    grid-column: span 3;
  }
  &-containerbutton {
    grid-column: span 3;
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 768px) {
  .main-secondary {
    .article-item {
      grid-column: span 1;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-arrow {
    position: relative;
    top: -22.5px;
  }
  &-links {
    text-align: center;
  }
  .copy {
    text-align: center;
    display: block;
  }
}
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    &-links {
      text-align: left;
      display: flex;
    }
    .copy {
      text-align: left;
    }
  }
}
