$color-primary: #f26002;
$color-secondary-dark: #304268;
$color-secondary-light: #0271bc;
$color-terciary: #eff9ff;

$font-size-title: 24px;
$font-size-paragraph: 18px;
$font-size-button: 20px;
$font-size-small: 14px;
